*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../october/travel/images/banner.png);
  background-position: center;
  background-size: cover;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}
nav ul li{
  display: inline-block;
  margin: 10px 30px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.register-btn{
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 30px;
  white-space: nowrap;
  z-index: 230;
}
.logo{
  width: 140px;
  cursor: pointer;
}
.container{
  padding: 0 7%;
}
.container h1{
  padding-top: 22%;
  font-size: 4vw;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.search-box{
  width: 70%;
  margin: auto;
  background: white;
  padding: 6px 10px 6px 30px;
  margin: 30px auto;
  border-radius: 30px;
  text-transform: capitalize;
  z-index: 200;
}
.search-box form{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.search-box form input{
  border: none;
  text-transform: capitalize;
  outline: none;
}
label{
  display: block;
  font-weight: 300;
}
.location{
  flex: 1;
}
.search-box form button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ff5361;
  border: none;
}
.search-box form button img{
  width: 15px;
  margin-top: 2px;
}
.first{
  position: relative;
}
.first::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  bottom: -12px;
  background: white;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%);
}
.fa-bars{
  color: white;
  font-size: 30px;
  display: none;
}
@media only screen and (max-width: 700px){
nav{
  position: fixed;
  display: inline-block;
  width: 100%;
  background: black;
  padding: 100px 7% 7px;
  max-height: 80px;
  transition:  1s;
  text-align: right;
  overflow: hidden;
  z-index: 300;
  }
  .logo{
    position: fixed;
    left: 7%;
    top: 4%;
    z-index: 200;
  }
  .fa-bars{
    display: inline-block;
    position: fixed;
    right: 7%;
    top: 4%;
    z-index: 200;
  }
  nav ul li{
    display: block;
    /* text-align: right; */
    margin: 10px 0;
  }
  .first::before{
  left: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
 }
 .hidemenu{
   max-height: 300px;
 }
 .container h1{
   padding-top: 200px;
   font-size: 7vw;
 }
 .search-box{
  margin: 10px 0;
  margin: auto;
   width: 90%;
   padding: 20px 10px 30px;
   border-radius: 8px;
   position: relative;
  margin-bottom: 200px;
 }
 .search-box form input{
   border: 1px solid #ddd;
   width: 100%;
   margin-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
 }
 .search-box form {
  display: block;
 }
 .search-box form button{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
 }
 header{
  height: 120vh;
 }
}

/* page 2 */
#page-2{
  margin: 80px 0 50px;
}
.title-text h2{
  font-weight: 500;
  font-size: 2.2vw;
  text-transform: capitalize;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.title-text{
  display: block;
  text-align: center;
}
.title-text h2::before{
  position: absolute;
  content: '';
  left: -22px;
  top: -25px;
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 30px;
  background: linear-gradient(45deg, #034f03, #51b52a, #035503);
 z-index: -2;
}
.exclusives{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}
.exclusives img{
  width: 100%;
  border-radius: 8px;
}
.exclusives div{
  transition: .5s;
  position: relative;
}
.exclusives div:hover{
  transform: scale(1.1) translateY(-5px);
}
.exclusives span{
  text-transform: capitalize;
  position: absolute;
  text-align: center;
  /* color: white; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.exclusives span p{
  white-space: nowrap;
}
/* page 3 */
#page-3{
  margin: 50px 0;
}
.trending{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.trending img{
  width: 100%;
  border-radius: 8px;
  transition: .5s;
}
.trending img:hover{
  transform: scale(1.1) translateY(-5px);
}
.trending h3{
  font-weight: 500;
}
/* page 3 */
#page-3{
  margin: 50px 0;
}
.cta{
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent), url(../october/travel/images/banner-2.png);
  background-position: center;
  background-size: center;
  border-radius: 10px;
  padding: 5%;
  color: white;
  text-transform: capitalize;
}
.cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 700;
}
.cta a{
  display: inline-block;
  background: #ff5361;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  margin: 20px 0;
  transition: 1s;
}
.cta a:hover{
  box-shadow:inset 200px 0 0 #85030e;
}
/* page 4 */
.stories{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page-4 h2{
  margin-top: 50px;
}
.stories div{
  flex-basis: 30%;
  position: relative;
  min-width: 250px;
margin-bottom: 30px;
}
.stories img{
  width: 100%;
  border-radius: 8px;
}
.stories p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 26px;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}
