*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}
header{
  background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url(../october/travel/images/banner.png);
  background-position: center;
  background-size: cover;
  width: 100%;
 min-height: 100vh;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 7%;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.logo{
  width: 140px;
  cursor: pointer;
  margin-left: 7%;
}
.register-btn{
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 30px;
  white-space: nowrap;
  z-index: 230;
}

.container{
  padding: 0 7%;
}
header h1{
  text-transform: capitalize;
  text-align: center;
  font-size: 4vw;
  color: white;
  font-weight: 500;
  padding-top: 22%;
}
.search-box{
  width: 70%;
  margin: 30px auto;
  background: white;
  border-radius: 50px;
  padding: 6px 10px 6px 30px;
  text-transform: capitalize;
}
.search-box form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-box form input{
  display: block;
  border: none;
  background: transparent;
}
.search-box form input::placeholder{
  text-transform: capitalize;
}
.search-box button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ff5361;
  border: none;
  cursor: pointer;
}
.search-box form button img{
  width: 15px;
   margin-top: 2px;
}
.location-input{
  flex: 1;
}
.search-box form label{
  font-weight: 600;
}
/* exclusives */
.page2{
  padding-top: 50px;
}
.sub-title{
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  position: relative;
  color: #333;
  z-index: 8;
  text-transform: capitalize;
  display: inline-block;
}
.subtitle-div{
  text-align: center;

}
/* whenever you want to add an extra design to a text you have text aligned ypu should place it in a div and set the text to inline block so it won't take up the entire space */
.subtitle-div h2::before{
  z-index: -2;
  position: absolute;
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(38deg, #178517, rgb(208, 250, 165), #178517);
  top: -20px;
  left: 0;
  transform: translate(-50%);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.exclusives{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}
.exclusives img{
  width: 100%;
  border-radius: 10px;
}
.exclusives div{
  position: relative;
}
/* use transform translate -50%, -50% to place in the middle just like flex*/
.exclusives span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  color: white;
}    
.exclusives span h3{
  text-transform: capitalize;
}
.exclusives span p{
  text-transform: capitalize;
  font-weight: 100;
}
/* trending places */
.trending{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.trending img{
  width: 100%;
  border-radius: 10px;
}
.trending h3{
  font-weight: 600;
  margin-top: 10px;
}
/* call to action */
.cta{
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent), url(../october/travel/images/banner-2.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 5%;
  color: white;
  text-transform: capitalize;
}
.cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 700;
}
.cta p{
  font-size: 18px;
  margin: 10px 0;
}
.cta-btn{
  background: #ff5361;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 30px;
  margin-top: 20px;
  display: inline-block;
}
/* travellers stories */
.stories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  text-transform: capitalize;
}
.stories img{
  width: 100%;
  border-radius: 10px;
}
.stories div{
  text-align: center;
  position: relative;
}
.stories p{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 26px;
}
.start-btn{
  display: block;
  text-decoration: none;
  color: white;
  background: #ff5361;
  width: 80%;
  text-align: center;
  max-width: 350px;
  margin: 60px auto;
  padding: 15px;
  font-size: 20px;
  border-radius: 30px;
  text-transform: capitalize;
}
/* about-msg */
.about-msg{
  text-align: center;
  margin: 80px 0;
  color: #333;
  font-size: 17px;
}
.about-msg h2{
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
}
/* footer */
.footer{
  margin: 80px 0 10px;
  text-align: center;
  text-transform: capitalize;
}
.footer a{
  text-decoration: none;
  color: #999;
  font-size: 22px;
  margin: 0 10px;
}
.footer hr{
  background: #999;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}
.footer p{
  margin-bottom: 30px;
}
.active{
  position: relative;
}
 .active::after{
  content: '';
  position: absolute;
  background: white;
  width: 25px;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  transition: .5s;
}
nav .fa-bars{
  display: none;
}
.footer p{
  font-size: 12px;
}
@media only screen and (max-width: 700px){
   .logo{
     position: fixed;
     top: 4%;
     left: 7%;
     z-index: 200;
   }
   nav{
     position: fixed;
     top: 0;
     z-index: 100;
     display: inline-block;
     width: 100%;
     padding: 100px 7% 0;
     background: #000;
     text-align: right;
     max-height: 80px;
     overflow: hidden;
     transition: max-height 0.5s;
   }
   nav .nav-links li{
     margin: 10px 0;
     display: block;
   }
   
   .register-btn{
     margin: 15px 0 30px;
     display: inline-block;
   }
   nav .fa-bars{
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    color: white;
    font-size: 28px;
  }
  .active::after{
  left: -40px;
  transform: translate(0, 50%);
  bottom: 50%;
  }
  .hidemenu{
    max-height: 300px;
  }
  header h1{
    padding-top: 200px;
    font-size: 7vw;
  }
  .search-box{
    width: 90%;
    margin: 30px auto;
    padding: 20px 10px 30px;
    border-radius: 5px;
    position: relative;
  }
  .search-box form{
    display: block;
  }
  .search-box form input{
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .search-box form button{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  header{
    padding-bottom: 200px;
  }
  .sub-title{
    font-size: 6vw;
  }
  .cta{
    padding: 15% 5%;
  }
  .cta h3{
    font-size: 7vw;
    line-height: 8vw;
  }
  .cta p{
    font-size: 14px;
  }
  .cta-btn{
    padding: 6px 15px; 
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
  }
  .stories p{
    font-size: 22px;
  }
  .about-msg{
    font-size: 15px;
  }
  .start-btn{
    padding: 10px;
    font-size: 14px;
  }
}
/* listing page */
.navbar-white{
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.navbar-white .nav-links li a{
  color: black;
}
.navbar-white .register-btn{
  background: #ff5361;
  color: white;
}
.navbar-white .fa-bars{
  color: black;
}
.navbar-white .active::after{
  background: #ff5361;
}
.list-container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
text-transform: capitalize;
}
.left-col{
  flex-basis: 70%;
}
.right-col{
  flex-basis: 25%;
}
.left-col h1{
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}
.house{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.house-img{
  flex-basis: 40%;
}
.house-info{
  flex-basis: 58%;
  color: #555;
}
.house-img img{
  width: 100%;
  border-radius: 12px;
}
.house-info h3{
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}
.rating{
  color: #ff5361;
  font-size: 18px;
  margin: 10px 1px;
}
.house-price{
  text-align: right;
}
.house-price h4{
  font-size: 20px;
}
.house-price h4 span{
  font-size: 14px;
  color: #ff5361;
  font-weight: 500;
  text-transform: none;
}
.side-bar{
  border: 1px solid #999;
  padding: 20px 30px;
  margin-top: 30px;
}
.side-bar h2{
  font-weight: 500;
}
.side-bar h3{
  font-weight: 500;
  margin: 20px 0 10px;
}
.filter{
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 10px;
}
.filter p{
  flex: 1;
}
.filter input{
  margin-right: 15px;
  cursor: pointer;
}
.side-link{
  text-align: right;
  margin: 20px 0;
}
.side-link a{
  display: inline-block;
  text-decoration: none;
}
.pagination{
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination img{
  width: 15px;
  margin: 10px 20px;
}
.right-arrow{
  transform: rotate(180deg);
}
/* a span can only have a perfect circle when it is inside a flex. but, you can style it to a perfect circle by using padding */
.pagination span{
  margin: 5px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  /* padding: 6px 14px; */
  cursor: pointer;
}
.pagination .current{
  background: #333;
  color: white;
}
/* media query for listing page */
@media only screen and (max-width: 700px){
  .list-container{
    margin-top: 150px;
  }
  .house-img, .house-info, .right-col, .left-col{
    flex-basis: 100%;
  }
  .left-col h1{
    font-size: 22px;
  }
  .house-info h3{
    font-size: 18px;
  }
  .house-info .rating{
    font-size: 16px;
  }
  .pagination span{
    margin: 10px 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 1px 12px;
  }
}
/* housing page: page 3 */
.house-details{
  padding: 0 12%;
}
.house-title{
  margin-top: 50px;
  text-transform: capitalize;
}
.house-title h1{
  font-weight: 600;
  margin-bottom: 10px;
}
.house-title .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.house-title .row span{
  color: #ff5361;
  margin: 0 20px;
}
.house-title .row i{
  color: #ff5361;
  font-size: 14px;
}
.gallery{
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'hello hello . .' 'hello hello . .';
  margin: 20px 0;
}
.gallery img{
  width: 100%;
  /* display: block; */
  border-radius: 10px;
}
.gallery-img-1{
  grid-area: hello;
}
.small-details h2{
  font-weight: 500;
  text-transform: capitalize;
}
.small-details h4{
  text-align: right;
}
.line{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 50px;
}
.check-form{
  margin: 30px 0;
  box-shadow: 0 0 30px rgb(0,0,0,.3);
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 49px;
}
.check-form label{
  display: block;
}
.check-form div{
  padding: 20px;
}
.check-form input{
  background: transparent;
  outline: none;
  border: 0;
}
.check-form button{
  display: block;
  background: #ff5361;
  border: 0;
  outline: none;
  color: white;
  border-radius: 8px;
  padding: 18px;
  width: 300px;
  font-size: 16px;
}
.guest-field{
  flex: 1;
}
.details-list{
  list-style: none;
  margin: 50px 0;
}
.details-list li{
  text-transform: capitalize;
  margin-left: 50px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  color: #555;
  position: relative;
}
.details-list span{
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.details-list li i{
 
  position: absolute;
  top: 5px;
  left: -40px;
}
.home-desc{
  max-width: 700px;
  margin-bottom: 50px;
}
.map{
  margin: 50px 0;
}
.map iframe{
  width: 100%;
  margin-bottom: 30px;
}
.map h3{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.map b{
  text-transform: capitalize;
  margin-bottom: 15px;
  display: block;
}
.host{
  display: flex;
  align-items: center;
}
.host img{
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2{
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.host i{
  color: #ff5361;
}
.contact-host{
  display: inline-block;
  margin: 40px 0 40px 120px;
  display: inline-block;
  text-decoration: none;
  color: #555;
  padding: 15px 50px;
  border: 1px solid #ff5361;
  border-radius: 8px;
  transition: .5s;
}
.contact-host:hover{
  background: #ff5361;
  border: 1px solid #fff;
  color: white;
}
/* page 3 media queries */
@media only screen and (max-width: 700px){
  .house-details{
    margin-top: 150px;
  }
  .row p{
    margin-top: 10px;
  }
  .gallery{
    grid-template-areas: 'hello hello' '. .' '. .';
  }
  .small-details h2{
    font-size: 20px;
    margin-top: 24px;
  }
  .small-details h4{
    text-align: left;
    margin: 10px 0;
    font-size: 18px;
  }
  .check-form{
    padding: 10px 30px;
  }
  .check-form div{
    padding: 20px 0;
    width: 100%;
  }
  .check-form input{
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    width: 100%;
  }
  .check-form label{
    margin-bottom: 3px;
  }
  .check-form button{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
  } 
  .host{
    display: block;
    line-height: 28px;
  }
  .contact-host{
    margin: 40px 0;
  }
}
/* .stories p{
  position: absolute;
  bottom: -43%;
  left: 50%;
  transition: .5s;
  transform: translateX(-50%);
  opacity: 0;
} */
/* .stories div:hover p{
  bottom: 30%;
  opacity: 1;
} */